$ cat .gitattributes
*.chargedDefectDeltaVz linguist-documentation
*.chargedDefectDeltaV linguist-documentation
*.out linguist-documentation
*.pos linguist-documentation
*.in linguist-documentation
*.chargedDefectDeltaVx linguist-documentation
*.chargedDefectDeltaVy linguist-documentation
*.d_tot linguist-documentation
*.txt linguist-documentation
*.eps linguist-documentation
*.dat linguist-documentation
*.ionpos linguist-documentation
*.slabEpsilon linguist-documentation
*.axsf linguist-documentation
*.mold linguist-documentation
*.n_dn linguist-documentation
*.n_up linguist-documentation
*.1 linguist-documentation
*.gitignore linguist-documentation
*.gitattributes linguist-documentation
*.sample linguist-documentation
*.upf linguist-documentation
*.UPF linguist-documentation
*.png linguist-documentation
*.mp4 linguist-documentation
*.pdf linguist-documentation
*.xml linguist-documentation
*.save linguist-documentation
