*.chargedDefectDeltaVz -text
*.chargedDefectDeltaV -text
*.out -text
*.pos -text
*.in -text
*.chargedDefectDeltaVx -text
*.chargedDefectDeltaVy -text
*.d_tot -text
*.txt -text
*.eps -text
*.dat -text
*.ionpos -text
*.slabEpsilon -text
*.axsf -text
*.mold -text
*.n_dn -text
*.n_up -text
*.1 -text
*.gitignore -text
*.gitattributes -text
*.sample -text
*.upf -text
*.UPF -text
*.png -text
*.mp4 -text
*.pdf -text
*.xml -text
*.save -text
